body {
     text-align: center;
     min-width: 740px;
     padding: 0;
     margin: 0;
 }

p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-bottom: 100px;
    padding-top: 20px;
}

h1 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 180px;
}

 #wrapper {
     text-align: left;
     width: 740px;
     margin-left: auto;
     margin-right: auto;
     padding: 0;
 }

 #content {
     float: right; 

 }

 #content .inner {
     padding-top: 1px;
     margin: 0 10px 10px 10px;
 }

 #side {
     float: right;
     width: 180px;
     margin: 0;
 }

 #side .inner {
     padding-top: 1px;
     margin: 0 10px 10px 10px;
 }

 #footer {
     margin-top: 10px;
     clear: both;
 }

 #footer .inner {
     margin: 10px;
 }