#colorstrip {
    width: 100%; height: 150px;
    border-style: solid;
    border-color: black;
    background-color: black;
}


body {
     text-align: center;
     min-width: 740px;
     padding: 0;
     margin: 0;
 }

p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-bottom: 100px;
    padding-top: 20px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 240px;
}

 #wrapper {
     text-align: left;
     width: 100%;
     height: 220px;
     margin-left: auto;
     margin-right: auto;
     padding: 0;
     background: linear-gradient(blue,white);
     
 }

 #content {
     float: right; 
     padding: 30px;
 }

 #image {
     width: 150px;
     float: left;
     padding: 30px;
     border-radius: 50%;
 }

 #side {
     float: right;
     width: 180px;
     margin: 0;
 }

 #side .inner {
     padding-top: 1px;
     margin: 0 10px 10px 10px;
 }

 #footer {
     margin-top: 10px;
     clear: both;
 }

 #footer .inner {
     margin: 10px;
 }